<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hacking with Spring Boot - Getting Started</title>
</head>
<body>

<h1>Welcome to Hacking with Spring Boot!</h1>

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus interdum vitae dui nec vehicula. Suspendisse quis urna nec odio efficitur congue et fermentum sem. Praesent viverra dui nec vestibulum luctus. Morbi non est magna. Vivamus vel ex maximus, tristique neque eu, semper elit. Morbi posuere mauris quis nulla sagittis convallis. Suspendisse ut est nec nisl tristique placerat non non sem. Mauris fringilla fermentum ipsum quis interdum. Proin ultrices fermentum consectetur. Phasellus blandit nisl sit amet erat ullamcorper, nec porttitor mi tincidunt. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
</p>
</body>
</html>